html {
    background-color: #E9F4F7;
}

.titre {
    font-family: Play;
    margin-top: 100px;
    text-align: center;
    background-color: #A3D7D8;
}

h2 {
    margin: 0 15px;
}

p {
    font-weight: normal;
    font-size: medium;
    margin: 20px;
}

.légende1,
.légende2,
.légende3,
.légende4 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    font-size: small;
}

.contenu img {
    width: 100%;

}

.chapeau p {
    font-style: italic;
    font-size: small;
}

h3 {
    font-family: Play;
    margin: 20px;
}



/*Article film*/

.extrait {
    height: 220px;
}

.affiche {
    height: 520px;
}

.infos\+ {
    text-align: center;
    font-style: italic;
}

/*Article pb*/


.ville {
    position: absolute;
    top: 3312px;
}

/*Article solu*/

.wifi {
    position: center;
    margin: 0 20px;
}

.accEcosia,
.accFox {
    font-weight: bold;
    text-decoration-line: underline;
}

.itw {
    background-color: darkcyan;
    padding: 20px 0;
}

.itw h2 {
    margin: 0 20px;
    font-style: italic;
    font-family: Play;
    border-bottom: solid black 1px;
}

.itw video {
    margin-top: 15px;
}

/*Article scient*/

.en-savoir-plus {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-left: 130px;
    margin-bottom: 20px;
    background-color: #65BCBE;
}

.complement {
    background-color: darkcyan;
    padding: 20px 0;
}

.complement h2 {
    margin: 15px 20px;
    font-style: italic;
    font-family: Play;
    border-bottom: solid black 1px;
}

.complement a {
    text-decoration: underline;
    text-align: center;
    margin: 0 15px;
}

.citation p {
    font-style: italic;
}

.citation figcaption, cite {
    margin-right: 20px;
    margin-left: 20px;
}