html {
    background-color: #E9F4F7;
}


img {
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 20px auto;
}

.contenu a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.titre {
    font-family: Play;
    margin-top: 100px;
    text-align: center;
    background-color: #A3D7D8;
}

h2 {
    margin: 0 15px;
}

